/************************ 

        Typography 

************************/
/*************************/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/************************ 

        Typography 

************************/
/*************************/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.navbar {
  background-color: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.navbar-nav {
  margin: 1rem;
  display: flex;
  align-items: center; }

.nav-link {
  color: white;
  font-size: 16px;
  margin: 0;
  padding: .5rem 1rem !important; }

#userIcon {
  width: 20px; }

.nav-link:hover {
  background-color: rgba(26, 156, 93, 0.6);
  border-radius: .5rem;
  color: white;
  text-decoration: none; }

.active {
  color: #1A9C5D; }

.navbar-toggler {
  color: white; }

/************************ 

        Typography 

************************/
/*************************/
* {
  font-family: "Lato", sans-serif; }

body {
  background-color: #043535 !important; }

input {
  color: #043535; }

.intextLink {
  color: white; }

.intextLink:hover {
  color: #1A9C5D;
  opacity: .6;
  text-decoration: underline; }

h1 {
  font-weight: black;
  font-size: 54px;
  color: white; }

p {
  color: lightgray; }

#pixiCanvas {
  max-width: 100%; }

/************************ 

        Typography 

************************/
/*************************/
#loginContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh; }

#loginForm {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  justify-content: center;
  align-items: center; }
  #loginForm .fields {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 550px;
    margin: 5vh 0 10vh 0; }
    #loginForm .fields .field {
      width: 100%;
      padding: 1rem; }
    #loginForm .fields .field:focus {
      border: 1px solid black;
      border-left: 3px solid #1A9C5D; }
  #loginForm #loginButton {
    width: 20vw;
    color: white;
    background-color: #1A9C5D;
    border: none;
    border-radius: .5rem;
    padding: .5em 0; }
  #loginForm #loginButton:hover {
    background-color: #1A9C5D;
    opacity: .6; }
  #loginForm .loginExtra {
    margin-top: 2rem;
    color: lightgray; }

#loginBody {
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 100vw 65vh;
  background-position: bottom; }

/************************ 

        Typography 

************************/
/*************************/
#signupContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh; }

#signupForm {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  justify-content: center;
  align-items: center; }
  #signupForm .fields {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 550px;
    margin: 5vh 0 10vh 0; }
    #signupForm .fields .field {
      width: 100%;
      padding: 1rem; }
    #signupForm .fields .field:focus {
      border: 1px solid black;
      border-left: 3px solid #1A9C5D; }
  #signupForm #signupButton {
    width: 20vw;
    color: white;
    background-color: #1A9C5D;
    border: none;
    border-radius: .5rem;
    padding: .5em 0; }
  #signupForm #signupButton:hover {
    background-color: #1A9C5D;
    opacity: .6; }
  #signupForm .signupExtra {
    margin-top: 2rem;
    color: lightgray; }

#signupBody {
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 100vw 65vh;
  background-position: bottom; }
