<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <meta charset="utf-8" />

    <title>Sprout</title>
</head>

<body id="mainApp" oncontextmenu="return false;">
    <div class="cloud-right">
        <img class="cloud-right-image" id="cloudApp1" src="assets/images/buildings/cloud1.png" alt="cloud" />
        <img class="cloud-right-image" id="cloudApp2" src="assets/images/buildings/cloud2.png" alt="cloud" />
        <img class="cloud-right-image" id="cloudApp3" src="assets/images/buildings/cloud3.png" alt="cloud" />
        <img class="cloud-right-image" id="cloudApp4" src="assets/images/buildings/cloud1.png" alt="cloud" />
    </div>
    <div class="appNav" id="nav"></div>
    <div id="errorAlert"></div>
    <!-- Swiper -->
    <div id="onboard" style="display:none;">
        <div class="swiper-container" id="swiperContain">
            <div class="swiper-wrapper">
                <div class="swiper-slide onboardSlide">
                    <img class="onboardImg" src="/assets/images/tips/tip1.png" alt="this is the community garden">
                </div>
                <div class="swiper-slide onboardSlide">
                    <img class="onboardImg" src="/assets/images/tips/tip2.png" alt="above is your personal garden">
                </div>
                <div class="swiper-slide onboardSlide">
                    <img class="onboardImg" src="/assets/images/tips/tip3.png"
                        alt="empty plots are ready for a new plant">
                </div>
                <div class="swiper-slide onboardSlide">
                    <img class="onboardImg" src="/assets/images/tips/tip4.png"
                        alt="messages from the community grow plant sprouts">
                </div>
                <div class="swiper-slide onboardSlide">
                    <img class="onboardImg" src="/assets/images/tips/tip5.png"
                        alt="hover to read your plants' messages">
                </div>
                <div class="swiper-slide onboardSlide">
                    <img class="onboardImg" src="/assets/images/tips/tip6.png"
                        alt="hover to read your plants' messages">
                </div>
                <div class="swiper-slide onboardSlide">
                    <img class="onboardImg" src="/assets/images/tips/tip7.png"
                        alt="click other users' plants to see what they need">
                    <button class="closeOnboard" onclick="changeOpacity()">
                        Get Started!
                    </button>
                </div>
            </div>
            <!-- Add Pagination -->
            <img class="swiper-button-next" src="/assets/images/tips/nextArrow.png"></img>
            <img class="swiper-button-prev" src="/assets/images/tips/previousArrow.png"></img>
        </div>
    </div>
    <canvas id="pixiCanvas"></canvas>
    <div id="messageModal"></div>
    <div id="pastMessageModal"></div>
    <div id="clearModal"></div>
    {{!--
    <script src="/assets/pixi.js"></script> --}}
    <script src="/assets/plantCollection.js"></script>
    <script src="/assets/communityPixi.js"></script>

    <!-- SLIDESHOW SCRIPTS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- <script>
        function hidePopup() {
            document.getElementById("message").style.display = "none";
        } -->
    <script>
        function changeOpacity() {
            document.getElementById('pixiCanvas').style.opacity = "1";
        }
    </script>
    <script>
        // CLOUDS
        $(function () {
            setInterval(function () {
                $('#cloudApp1').animate({ left: $(window).width() + 'px' }, 52000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloudApp2').animate({ left: $(window).width() + 'px' }, 96000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloudApp3').animate({ left: $(window).width() + 'px' }, 78000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloudApp4').animate({ left: $(window).width() + 'px' }, 81000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
            }, 10);
        });
    </script>

    <script src="/assets/bundle.js"></script>
    <script src="/assets/mainBundle.js"></script>
</body>

</html>