<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    <meta charset="utf-8" />
    
    <title>Sprout</title>
</head>

<body>
    <div id="header"></div>
    <div id="app"></div>
    {{!-- <div id="pixi">
        <canvas id="pixiCanvas"></canvas>
    </div> --}}
    <canvas id="pixiCanvas"></canvas>
    <script src="/assets/pixi.js"></script>
    {{!--
    <script type="text/javascript">
        let type = "WebGL"
        if (!PIXI.utils.isWebGLSupported()) {
            type = "canvas"
        }
        PIXI.utils.sayHello(type)
    </script> --}}

    <div class="modal" id="message" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aloe Plant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hidePopup()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <textarea id="w3review" name="w3review" rows="4" cols="50">
                Enter a positive affirmation -- what are you grateful for?
                </textarea>
                <div class="modal-footer">
                    <button type="button" onclick="hidePopup()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function hidePopup() {
            document.getElementById("message").style.display = "none";
        }

    </script>

    <script src="/assets/bundle.js"></script>
    <script src="/assets/mainBundle.js"></script>
</body>

</html>