<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sprout</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" /> --}}
</head>

<body id="loginBody">
    {{!-- <a href="./start"><i class="fas fa-times exit"></i></a> --}}
    <content id="loginContent">
        <div class="cloud-right">
            <img class="cloud-right-image" id="cloud1" src="assets/images/buildings/cloud1.png" alt="cloud" />
            <img class="cloud-right-image" id="cloud2" src="assets/images/buildings/cloud2.png" alt="cloud" />
            <img class="cloud-right-image" id="cloud3" src="assets/images/buildings/cloud3.png" alt="cloud" />
            <img class="cloud-right-image" id="cloud4" src="assets/images/buildings/cloud1.png" alt="cloud" />
            <img class="cloud-right-image" id="cloud5" src="assets/images/buildings/cloud2.png" alt="cloud" />
        </div>

        <h1 tabindex="1">Let's grow together.</h1>
        <p tabindex="1">Welcome back! Please use your unique code to login to your Sprout account.</p>
        <div id="login"></div>
        <img class="backgroundImg" src='/assets/images/buildings/communityBuildingsFinal2.png' tabindex="1" alt="Community of buildings" />

    </content>

    <content class="screenSmall">
        <img src="assets/images/Sprout.png" tabindex="1" alt="Sprout" />
        <img id="aloe" src="assets/images/plants/aloe.png" tabindex="1" alt="aloe plant" />
        <h5 tabindex="1">Works best on Desktop</h5>
    </content>

     <script>
        // CLOUDS
        $(function () {
            setInterval(function () {
                $('#cloud1').animate({ left: $(window).width() + 'px' }, 52000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloud2').animate({ left: $(window).width() + 'px' }, 96000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloud3').animate({ left: $(window).width() + 'px' }, 78000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloud4').animate({ left: $(window).width() + 'px' }, 81000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloud5').animate({ left: $(window).width() + 'px' }, 66000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
            }, 10);
        });
    </script>


    <script src="/assets/loginBundle.js"></script>
    <script src="/assets/bundle.js"></script>
</body>

</html>