<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sprout</title>
    </head>

    <body id="loginBody">
        <content id="loginContent">
            <h1>Let's grow together.</h1>
            <p>Welcome back! Please use your unique code to login to your Sprout account.</p>
            <div id="login"></div>
        </content>

        <content class="screenSmall">
            <img src="assets/images/Sprout.png"/>
            <img id="aloe" src="assets/images/plants/aloe.png"/>
            <h5>Works best on Desktop</h5>
        </content>
        
        <script src="/assets/loginBundle.js"></script>
        <script src="/assets/bundle.js"></script>
    </body>
</html>