<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sprout</title>
    </head>

    <body>
        <content id="loginContent">
            <h1>Let's Grow Together.</h1>
            <p>Welcome back! Please login to your Sprout account.</p>
            <div id="login">

            </div>
        </content>
        <script src="/assets/loginBundle.js"></script>
        <script src="/assets/bundle.js"></script>
    </body>
</html>