<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sprout</title>
</head>

<body id="loginBody">
    <content id="loginContent">
        <h1 tabindex="1">Let's grow together.</h1>
        <p tabindex="1">Welcome back! Please use your unique code to login to your Sprout account.</p>
        <div id="login"></div>
        <img src='/assets/images/buildings/communityBuildings.png' tabindex="1" alt="Community of buildings" />

    </content>

    <content class="screenSmall">
        <img src="assets/images/Sprout.png" tabindex="1" alt="Sprout" />
        <img id="aloe" src="assets/images/plants/aloe.png" tabindex="1" alt="aloe plant" />
        <h5 tabindex="1">Works best on Desktop</h5>
    </content>

    <script src="/assets/loginBundle.js"></script>
    <script src="/assets/bundle.js"></script>
</body>

</html>