<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sprout</title>
    </head>

    <body id="loginBody">
        {{!-- <nav class="navbar navbar-expand-lg">
            <img alt="logo" src="assets/images/logo.png"/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="nav-bar-items">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">Garden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">About Us</a>
                    </li> 
                </ul>
            </div>
        </nav> --}}

        <content id="loginContent">
            <h1>Let's grow together.</h1>
            <p>Welcome back! Please use your unique code to login to your Sprout account.</p>
            <div id="login"></div>
        </content>
        
        <script src="/assets/loginBundle.js"></script>
        <script src="/assets/bundle.js"></script>
    </body>
</html>