<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sprout</title>
    </head>

    <body>
        <div id="signup">

        </div>
        <script src="/assets/signupBundle.js"></script>
        <script src="/assets/bundle.js"></script>
    </body>
</html>