<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sprout</title>
    </head>

    <body id="signupBody">
        <content id="signupContent">
            <h1>Create an Account.</h1>
            <p>Welcome! Please create a unique code to get started with your garden.</p>
            <div id="signup"></div>
        </content>

        <content class="screenSmall">
            <img src="assets/images/Sprout.png"/>
            <img id="aloe" src="assets/images/plants/aloe.png"/>
            <h5>Works best on Desktop</h5>
        </content>
        
        <script src="/assets/signupBundle.js"></script>
        <script src="/assets/bundle.js"></script>
    </body>
</html>