<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sprout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
   <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>

<body id="startBody">

    <!-- LOADING SCREEN -->
    <div class="loader" id="startLoad">
        <div class="image">
            <img class="loaderImg" src='assets/images/plants/aloe-sprout.png' alt="loading" tabindex="1">
        </div>
        <span></span>
    </div>

    <content id="startContent">
        <!-- CLOUDS -->
        <div class="cloud-right">
            <img class="cloud-right-image" id="cloud1" src="assets/images/buildings/cloud1.png" alt="cloud" />
            <img class="cloud-right-image" id="cloud2" src="assets/images/buildings/cloud2.png" alt="cloud" />
            <img class="cloud-right-image" id="cloud3" src="assets/images/buildings/cloud3.png" alt="cloud" />
            <img class="cloud-right-image" id="cloud4" src="assets/images/buildings/cloud1.png" alt="cloud" />
            <img class="cloud-right-image" id="cloud5" src="assets/images/buildings/cloud2.png" alt="cloud" />
        </div>
        <img id="sproutLogo" src="assets/images/Sprout_whitebg.png" alt="Sprout" tabindex="1" />

        <!-- SLIDESHOW CONTAINER -->
      
<!-- Swiper -->
  <div class="swiper-container" id="slideshow">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
          Sprout is a place for you to to tend a virtual garden through sharing encouraging messages 
          and spreading kindness to yourself and the community.
        </div>
      <div class="swiper-slide">
            We created Sprout with positive psychology in mind. This encourages people to focus on
            positive emotions and build strategies to maintain them.
      </div>
      <div class="swiper-slide">
            Social interaction with others relieves stress and anxiety, instills feelings of
            purpose, and increases people’s life expectancy!
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

        <!-- LOGIN AND SINGUP BUTTONS -->
        <div id="startButtons">
            <button id="createAccountButton"><a tabindex="1" href="./signup">Create Account</a></button>
            <button id="signInButton"><a tabindex="1" href="./login">Sign In</a></button>
        </div>

        <img class="backgroundImg" src='/assets/images/buildings/communityBuildingsFinalFinal.png' alt="Community of buildings" />
    </content>

    <!-- WHEN SCREEN SIZE IS TOO SMALL -->
    <content class="screenSmall">
        <img src="assets/images/Sprout.png" tabindex="1" alt="Sprout" />
        <img id="aloe" src="assets/images/plants/aloe.png" tabindex="1" alt="aloe plant" />
        <h5 tabindex="1">Works best on Desktop</h5>
    </content>

    <script src="/assets/bundle.js"></script>

    <script>
        // CLOUDS
        $(function () {
            setInterval(function () {
                // Animates from the left to the right based on screen size at different paces
                $('#cloud1').animate({ left: $(window).width() + 'px' }, 52000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloud2').animate({ left: $(window).width() + 'px' }, 96000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloud3').animate({ left: $(window).width() + 'px' }, 78000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloud4').animate({ left: $(window).width() + 'px' }, 81000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
                $('#cloud5').animate({ left: $(window).width() + 'px' }, 66000, 'linear', function () {
                    $(this).css({ left: - $(this).width() + 'px' });
                });
            }, 10);
        });
    </script>




<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      speed: 600,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>


    <script>
        // LOADING PAGE
        // Grabs content and loading divs 
        let startScreen = document.getElementById('startContent');
        let loadingScreen = document.getElementById('startLoad');

        //PLANT LOADER ANIMATION
        function changeImage(counter) {
            var images = [
                '<img class="loaderImg" id="cactusLoader" src="assets/images/plants/cactus-sprout.png">',
                '<img class="loaderImg" src="assets/images/plants/fiddle-sprout.png">',
                '<img class="loaderImg" src="assets/images/plants/jade-sprout.png">',
            ];

            $(".loader .image").html("" + images[counter] + "");
        }

        // Displays loading screen instead of content page
        function loading() {
            startScreen.style.display = "none";
            var num = 68;

            for (i = 0; i <= 101; i++) {
                setTimeout(function () {
                    $('.loader span').html(num + '%');

                    if (num == 101) {
                        console.log(100);
                        clearInterval();
                        toggleView();
                    }
                    num++;
                }, i * 110);
            };
            //document.getElementById("startBody").style.display = "block";
        }

        // Switches between loading and main screen
        function toggleView() {
            loadingScreen.style.display = "none";
            startScreen.style.display = "flex";
            startScreen.classList.add('animate__animated', 'animate__fadeIn');
            startScreen.style.setProperty('--animate-duration', '1.5s');
            console.log(startScreen);
        }

        $(document).ready(function () {
            var counter = 0;

            // Start the changing images
            setInterval(function () {
                if (counter == 3) {
                    counter = 0;
                }

                changeImage(counter);
                counter++;
            }, 3000);

            // Set the percentage off
            loading();
        });
    </script>

</body>

</html>