<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sprout</title>
</head>

<body id="startBody">
    <content id="startContent">
        <img src="assets/images/Sprout.png" />

        <div id="scrollContainer">
            <img src="assets/images/test/premadeBulidings.png" alt="" />

            <div class="photobanner">
                <img src="assets/images/test/premadeBulidings.png" alt="" />
            </div>
        </div>

        <div id="startButtons">
            <button id="createAccountButton"><a href="./signup">Create Account</a></button>
            <button id="signInButton"><a href="./login">Sign In</a></button>
        </div>


    </content>

    <content class="screenSmall">
        <img src="assets/images/Sprout.png" />
        <img id="aloe" src="assets/images/plants/aloe.png" />
        <h5>Works best on Desktop</h5>
    </content>

    <script src="/assets/bundle.js"></script>

</body>

</html>