<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sprout</title>
    </head>

    <body id="loginBody">
        <content id="loginContent">
            <img src="assets/images/Sprout.png">
            <p>Sprout is a place for you to to tend a virtual garden through sharing encouraging messages and spreading kindness to yourself and the community. </p>
        </content>
        
        <script src="/assets/loginBundle.js"></script>
        <script src="/assets/bundle.js"></script>
    </body>
</html>