// ADD VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$main-font: 'Lato', sans-serif;

//Primary Colors
$dark-green: #043535;
$light-green: #1A9C5D;
$dark-purple: #9746FF;
$light-purple: #B570FF;
$dark-salmon: #F98C6E;
$light-salmon: #f7b8a6;