@import '../utilities/mixins';
@import '../utilities/variables';

* {
    font-family: $main-font;
}

body {
    //background-color: $dark-green !important;
}
// #mainApp {
//     background-image: url('/assets/images/test/planter-background.png');
//     background-repeat: no-repeat;
//     background-size: contain;
// }

.appNav {
    position: absolute;
    width: 100%;
}

input {
    color: $dark-green;
}

//Moved from styles.scss
.intextLink {
    color: white;
}

.intextLink:hover {
    color: $light-green;
    opacity: .6;
    text-decoration: underline;
}

h1 {
    @include header-1;
    color: white;
}

p {
    color: lightgray;
}

// #pixi{
//     width: 100%;
// }

#pixiCanvas {
    max-width: 100%;
}

/* Modal Popup */
.modal-content {
    padding: 1rem;
}

#messageField {
    border-radius: 1rem;
    padding: .25em 0 0 .75em;
    height: 2.5em;
}

.saveBtn {
    background-color: $dark-purple;
    border: none;
}

.saveBtn:hover {
    background-color: $light-purple;
}