@import '../utilities/mixins';
@import '../utilities/variables';

* {
    font-family: $main-font;
}

body {
    //background-color: $dark-green !important;
}

#mainApp {
    background: url('/assets/images/startBackground.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    z-index: -1;

}

.appNav {
    position: absolute;
    width: 100%;
}

input {
    color: $dark-green;
}

//Moved from styles.scss
.intextLink {
    color: white;
}

.intextLink:hover {
    color: $light-green;
    opacity: .6;
    text-decoration: underline;
}

h1 {
    @include header-1;
    color: white;
}

p {
    color: lightgray;
}

// #pixi{
//     width: 100%;
// }

#pixiCanvas {
    max-width: 100%;
}

#pastMessageBody p {
    color: black;
}

/* Modal Popup */
.modal-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .close:hover{
        cursor: pointer;
        max-width: fit-content;
    }

    .modal-header {
        height: 18vh;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        border: none;

        #modal-content-header {
            display: flex;
            flex-direction: column;

            #messageTitle, #clearTitle {
                margin-left: 1em;
            }

            #messageLabel {
                margin: 2vh 0 2vh 1.25em;
            }
        }
    }

    #messageField {
        margin: 0 2vw;
    }

    #messageField {
        border-radius: 1rem;
        padding: .25em 0 0 .75em;
        height: 2.5em;
    }

    .modal-footer {
        border: none;
    }

    .saveBtn, .clearBtn {
        background-color: $dark-salmon;
        border: none;
    }

    .saveBtn:hover, .clearBtn:hover, .noClearBtn:hover {
        background-color: $light-salmon;
    }
}

.pastHeader {
    margin-left: 1em;
}

.noClearBtn {
    background-color: lightgray;
    border: none;
}

#clearTitle {
    margin: .5em 1em 1em 1em;
    text-align: center;
}

#clearFooter {
    justify-content: center;
}

#cloudApp1 {
    left: -260px;
    margin-top: 15px;
    width: 12%;
  }

  #cloudApp2 {
    left: 0;
    margin-top: 50px;
    width: 9%;
  }

  #cloudApp3 {
    left: 650;
    margin-top: 22px;
    width: 5%;
  }

  #cloudApp4 {
    left: 825;
    margin-top: 35px;
    width: 7%;
  }

  #onboard {
    z-index: 5;
  }

  .swiper-slide {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#swiperContain {
    width: 100%;
    height: 100%;
    position: absolute;
}

.swiper-slide {
    max-width: 50%;
    margin: 0 25%;
    display: flex;
    flex-direction: column;
}

.onboardImg {
    width: 50%; 
}

.swiper-button-next {
    margin-right: 28%;
}

.swiper-button-prev {
    margin-left: 28%;
}

  #pixiCanvas {
      opacity: 0.5;
  }

  .closeOnboard {
      background-color: $dark-salmon;
      border: none;
      color: white;
      padding: 1em;
      border-radius: .5em;
      margin-top: 5vh;
  }

  .closeOnboard:hover {
      background-color: $light-salmon;
  }
