@import '../utilities/mixins';
@import '../utilities/variables';

#loginContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10vh;
    margin-left: 4em;

    h1{
        font-weight: bold;
    }
}

#loginForm {

    @include signin-form('#loginButton', '#secondButton');

    .loginExtra {
        margin-top: 2rem;
        color: lightgray;
    }
}

#loginBody {
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}