@import '../utilities/mixins';
@import '../utilities/variables';

#loginContent {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url('/assets/images/startBackground.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    z-index: -1;

    h1{
        font-weight: bold;
        font-size: 58px;
        color: black !important;
        margin-top: 8vh;
    }

    p {
        font-size: 15px;
        color: black;
    }
}

#error {
    display: none;
    margin-top: 1.5em;
    margin: 3vh 10vw;
    width: 30vw;
    padding: .5vh 0;

    p {
        color: black;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }
}



#loginForm {

    @include signin-form('#loginButton', '#secondButton');
    align-items: center;

    .loginExtra {
        margin-top: 2rem;
        color: darkgray;
    }

    .fields {
        width: 500px;
        margin-bottom: 5vh !important;
    }
}

#login {
    margin-bottom: 5vh;
}

.switchText {
    margin-bottom: 4vh;
}

.formLink {
    color: $dark-purple !important;
}

.formLink:hover {
    color: $light-purple !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

#loginBody {
    background-color: #62C4D4 !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;

}

.screenSmall {
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;

    h5{
        margin-top: 2vh;
        font-weight: bold;
        color: black;
    }

    #aloe {
        width: 15%;
    }
}

@media only screen and (max-width: 750px) {
    #loginContent {
        display: none;
    }

    .screenSmall {
        display: flex;
    }
  }

    #cloud1 {
      left: -260px;
      margin-top: 300px;
      width: 12%;
    }

    #cloud2 {
      left: 0;
      margin-top: 50px;
      width: 9%;
    }

    #cloud3 {
      left: 650;
      margin-top: 150px;
      width: 16%;
    }

    #cloud4 {
      left: -350;
      margin-top: 276px;
      width: 11%;
    }

    #cloud5 {
      left: 210;
      margin-top: 200px;
      width: 14%;
    }

    // .exit {
    //     margin: 3vh 0 0 3vw;
    //     color: black;
    //     width: 5%;
    //     position: relative;
    // }

    // .exit:hover {
    //     color: white;
    //     cursor: pointer;
    // }