@import '../utilities/mixins';
@import '../utilities/variables';

#signupContent {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;

    h1 {
        font-weight: bold;
        font-size: 58px;
        color: black !important;
    }

    p {
        font-size: 15px;
        color: $light-purple;
    }
}

#signupForm {

    @include signin-form('#signupButton', '#secondButton');
    align-items: center;

    .signupExtra {
        margin-top: 2rem;
        color: lightgray;
    }

    .fields {
        width: 500px;
    }
}

#signupButton {
    margin: 0 0 0 2em !important;
}

#signupBody {
    // background: url('/assets/images/loginBackground.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: white !important;
}

.screenSmall {
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;

    h5{
        margin-top: 2vh;
        font-weight: bold;
        color: white;
    }

    #aloe {
        width: 15%;
    }
}

@media only screen and (max-width: 750px) {
    #signupContent {
        display: none;
    }

    .screenSmall {
        display: flex;
    }
  }