@import '../utilities/mixins';
@import '../utilities/variables';

#signupContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#signupForm{
    @include signin-form('#signupButton');
    .signupExtra {
        margin-top: 2rem;
        color: lightgray;
    }
}

#signupBody {
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: 100vw 65vh;
    background-position: bottom;
}