@import '../utilities/mixins';
@import '../utilities/variables';

.navbar {
    background-color: none;
    color: white;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
}

//div for individual navbuttons
.navbar-nav {
    margin: 1rem;
    align-items: center;
}

.nav-item {
    height: 5vh;
}

#userIcon {
    width: 25px;
}

nav {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: white;
    font-size: 20px;
    margin: 1rem;
    padding: .5rem 2rem !important;
}

.nav-link:hover {
    background-color: rgba(26, 156, 93, .6);
    border-radius: .5rem;
    color: white;
    text-decoration: none;
}

.nav-link:

.active {
    color: $light-green;
}

.navbar-toggler {
    color: white;
}